@import "tailwindcss";
@import "@nuxt/ui";
@import "../theme/breakpoint.css";
@import "../theme/color.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", Georgia, serif;
}

button {
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

a {
   transition: all 0.1s ease;
   cursor: pointer;
}

nav a:focus,
nav a:focus-visible {
  outline: none;
  box-shadow: none;
}

